body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0
}
.container{
    margin: 0 auto;
}
p {
    font-weight: 400;
    font-size: 16px;
}
h1{
    font-weight: 700;
    font-size: 36px;
    color: black;
}
h2{
    font-weight: 700;
    font-size: 24px;
}
h3{
    font-family: 700;
    font-size: 18px;
}
a, button{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
button{
    width: 246px;
    height: 51px;
    background: #2EA1E0;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    transition: 0.5s all ease;
    border: 2px solid #2EA1E0;
}
button:hover{
    border: 2px solid #2EA1E0;
    background-color: white;
    color: #2EA1E0;
}
ul li{
    list-style: none;
}
ul li a{
    color: white;
}
.header_first-nav{
    background-color: #2F2F2F;
    height: 48px;
}
.header_second-block a{
    cursor: pointer;
}
.header_first-ul{
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding-top: 12px;
}
.header_second-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 186px;
}
.header_second-block div a{
    text-decoration: underline;
    color: #2EA1E0;
    margin-top: 20px;
}
.header_second-nav{
    background-color: #2EA1E0;
}
.header_second-ul{
    display: flex;
    justify-content: space-between;
    height: 67px;
    align-items: center;
}
main{
    width: 100%;
}
.main{
    background: url(../img/main1.png) no-repeat ;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 45px;
    padding: 49px 59px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
}
.main h1{
    margin-bottom: 30px;
    color: white;
}
.main_slider{
    display: flex;
}
.main_slider a{
    background-color: #2EA1E0;
    padding: 20px 20px;
    border: 1px solid #4CB0E7;
    cursor: pointer;
}
.price{
    margin-top: 61px;
}
.price_blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price_block{
    position: relative;
    background: #EDF8FF;
    border-radius: 10px;
    padding: 22px 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 36px;
}
.price_block p{
    margin-left: 20px;
}
.price_circle{
    background: #2EA1E0;
    border-radius: 50%;
    position: absolute;
    left: -19px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.services{
    margin-top: 61px;
}
.services_block{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.services_text-block_header{
    display: flex;
}
.squaer{
    width: 46px;
    height: 46px;
    background: #2EA1E0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 39px;
}
.services_text-block_main{
    display: flex;
}
.line{
    width: 3px;
    height: 182px;
    background-color: #2EA1E0;
    opacity: 0.5;
    margin-left: 23px;
    margin-right: 60px;
    margin-top: 26px;
}
.services_text-block_main_text p{
    margin-top: 26px;
    width: 408px;
}
.proposal{
    margin-top: 75px;
    height: 200px;
    background: #EDF8FF;
    display: flex;
    justify-content: space-between;
    padding: 0 55px;
    align-items: center;
}
.proposal p{
    width: 434px;
}
.proposal h2{
    font-size: 30px;
}
.btn2{
    width: 200px;
    border-radius: 0px;
}
.before{
    margin-top: 52px;
}
.before_imgs{
    margin-top: 51px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer{
    background: #3C4042;
    margin-top: 140px;
    padding: 45px 0;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer div p, .footer div h3, .footer div span{
    color: white;
}
.footer div span{
    font-size: 12px;
}
.footer a{
    color: white;
    font-weight: 700;
}
.footer_block1{
    display: flex;
    flex-direction: column;
}
.footer_block1 span{
    width: 472px;
    margin-top: 44px;
}
.footer_block2{
    display: flex;
    flex-direction: column;
}
.footer_block2 a{
    margin-top: 10px;
    font-weight: 400;
}
.main2{
    display: flex;
    justify-content: space-between;
}
.katalog-main2{
    margin-top: 30px;
}

.slider{
    width: 837px;
    height: 361px;
}
.main2_katalog-block{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.main2_katalog-block button{
    text-align: start;
    background: #F4F9FB;
    border: 1px solid #D0E0EC;
    width: 260px;
    color:  #212121;
    border-radius: 0;
    padding: 0 20px;
}
.katalog-product{
    background: #EDF8FF;
    padding: 50px 0;
    margin-top: 59px;
}
.katalog-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.katalog-block{
    margin-right: 50px;
    margin-top: 53px;
    width: 265px;
}
.katalog-block h3{
    margin-bottom: 31px;
}
.katalog-block p{
    color: black;
    margin-top: 10px;
}
.list{
    margin-top: 30px;
}
.list p{
    width: 860px;
    margin-top: 10px;
}
.list span{
    color: #9A9A9A;
}
.list h1{
    margin-top: 26px;
    margin-bottom: 20px;
}
.list form{
    width: 100%;
    background: #EDF8FF;
    padding: 39px 34px;
    margin-top: 35px;
}
.list form input{
    width: 552px;
    height: 51px;
    background: #D0E2EE;
    outline: none;
    border: none;
    padding-left: 30px;
    color: black;
}
.main3{
    border-radius: 0;
    margin-top: 0;
}
.main3_h1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.make{
    margin-top: 80px;
    margin-bottom: 80px;
}
.make h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.make div p{
    margin-top: 20px;
    width: 560px;
}
.make__text-blocks{
    display: flex;
    justify-content: space-between;
}
.img-block{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.img-block img{
    width: 100%;
}
.img-block div{
    display: flex;
    flex-wrap: wrap;
}
.img-block div img{
    width: 50%;
}
.application{
    margin-bottom: 100px;
    background-color: #EDF8FF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 44px 59px;
    align-items: center;
}
.application p{
    width: 300px;
    margin-top: 15px;
}
.application__input-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.application div input{
    width: 400px;
    height: 51px;
    background: #D0E2EE;
    outline: none;
    border: none;
    margin-top: 17px;
    padding-left: 20px;
}
.pouap{
    padding: 20px 40px;
    height: 300px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    right: 50vh;
    bottom: 50vh;
    margin: 0 auto;
    background-color: white;
    border: 3px solid #2EA1E0;
    display: none;
    width: 450px;
}
.pouap.active{
    display: block;
}
.pouap form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.pouap button{
    margin-top: 20px;
}
.pouap input{
    width: 400px;
    height: 51px;
    background: #D0E2EE;
    outline: none;
    border: none;
    margin-top: 17px;
    padding-left: 20px;
}